/* Allgemeine Einstellungen 
Basiert auf Falkenmarlins stylesheet(https://falkenmarlin.github.io/stylesheet.css) vom 15.12.2024
*/
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body {
  height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: #c2c2c2;
  overflow-y: auto; /* Ermöglicht Scrollen */
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #c2c2c2;
  color: #050505;
  height: auto;
  margin-bottom: 20px;
}

header img {
  border-radius: 50%;
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #050505;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: #c2c2c2;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #db6767;
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 1500px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin-bottom: 40px;
}

section h2 {
  color: #c2c2c2;
  border-bottom: 2px solid #db6767;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

section h2.centered {
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #c2c2c2;
  color: #050505;
}

a {
  color: #db6767;
}

a.linkNoUl {
  text-decoration: none;
}

a.highlight {
  color: #db6767;
  text-decoration: none;
  pointer-events: none;
}

a:hover {
  color: #c2c2c2;
}

/*Container, der die VB enthält*/
.link-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  padding-top: 20px;
  height: auto;
}

/* Verlinkungs Boxen */
.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #c2c2c2;
  color: #050505;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 10px 0;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 250px;
  height: 60px;
  box-sizing: border-box;
}

.link-box:hover {
  background-color: #db6767;
  color: #050505;
  transform: translateY(-5px);
}

.link-box img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.link-box span {
  font-size: 1rem;
  font-weight: bold;
}

.link-box span.strike {
  text-decoration: line-through;
  text-decoration-thickness: 0.25rem;
  color: #db6767;
}

/* Aktuelles Boxen */
/*Container, der die VB enthält*/
.ak-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-top: 20px;
  width: auto;
  height: auto;
  gap: 25px;
}

/* Verlinkungs Boxen */
.ak-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #c2c2c2;
  color: #050505;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 10px 0;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  flex: 0 0 400px;
  width: 400px;
  height: 250px;
  box-sizing: border-box;
}


.ak-box:hover {
  background-color: #db6767;
  color: #050505;
  transform: translateY(-5px);
}

.ak-box img {
  width: auto;
  height: 75%;
  object-fit: contain;
  margin-right: 10px;
  border-radius: 15px;
}

.ak-box span {
  font-size: 1.5rem;
  font-weight: bold;
}

.ak-box p {
  font-size: 1rem;
}

.img404 {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  border-radius: 15%;
}

.highlight {
  color: #db6767;
}

.inline {
  display: inline;
}

/* Responsive Anpassungen für kleine Displays */
@media (max-width: 768px) {
  .link-box-container h2 {
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
  }
  .ak-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #c2c2c2;
    color: #050505;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 10px 0;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex: 0 0 350px;
    width: 350px;
    height: 250px;
    box-sizing: border-box;
  }
  
  .ak-box img {
    width: auto;
    height: 75px;
    object-fit: contain;
    margin-right: 10px;
    border-radius: 15px;
  }
}
